{% extends "layout.html" %}

{% block main_content %}

<h1>Symptom Logger App</h1>

<p>
    <ul>
        <li>Are you a mom juggling kids and medical appointments? Breathe easy.</li>
        <li>Struggling with memory problems? Don't worry, we've got your back.</li>
    </ul>
</p>

<p>With Symptom Record, you can take your time to jot down symptoms in your own words, and at your own pace.</p>
<p>This app translates your notes into a succinct summary for your GP.</p>

<button id="disclaimer" type="button" onclick="disclaimer()">Click to read Disclaimer</button>

{% endblock %}