{% extends "layout.html" %}

{% block main_content %}

<h1>Symptom Logger</h1>
<p>
<button><a href="./summary">Create Summary</a></button> or <button><a href="./add_symptom">Add a Symptom</a></button>

    <ul>
        
        <li>Struggling with memory problems?</li>
		<li>Don't worry, we've got your back.</li>
		<li>Keep track of your symptoms.</li>
    </ul>
Take your time to jot down symptoms in your own words, and at your own pace then use this app to translate your notes into a succinct summary for your GP.</p>

<button id="disclaimer" type="button" onclick="disclaimer()">Click to read Disclaimer</button>

{% endblock %}