{% extends "layout.html" %}

{% block main_content %}

<div class="main">
	<h1>Symptom Log</h1>

	<h2>Summary</h2>

	<p>{{ summary }}</p>
</div>

<div class="detail">
	<div>
		<img src="{{ bubbleplot_url }}" alt="Bubbleplot displaying a log of symptoms over time, bubble size is an indicator of pain">

		<p style="font-style: italic; font-size: small;">Symptoms are displayed over time, pain intensity is represented by bubble size.</p>
	</div>

	<div>
		<p>{{ status }}</p>

		<p>{{ period }}</p>
	</div>
</div>

{% endblock %}