/* mobile first */

/* Places the container in the middle of the screen */
.app-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
} 

:root {
    --primary-color: #f8fbf8;
    --secondary-color: #e3dac9;
    --tertiary-color: #f0eee4;
    --darker-color: #464655;
    --accent-color: #5e747f;
}

body {
	/* Colour of background screen to the app */
	background-color: var(--darker-color);

	/* Styling the body of the app */
	color: var(--darker-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: small;
}

.container {
	/* Responsive width */
	width: 100%;
	max-width: 300px;
	height: 450px;

	/* Styling the container */
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 15px;

	/* Styling contents of the container */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--secondary-color);	
}

button, .button {
	/* Styling the button */
	background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
	margin: 5px;
	font-size: small;
}

a:any-link { 
	color: var(--primary-color);
	text-decoration: none;
}

img {
	width: 180px;
	height: 100px;
}

/* Media query for tablet screens */
@media screen and (min-width: 1300px) {
	.container {
		width: 100%; /* Continue to be responsive */
		max-width: 750px; /* Set the max width for tablet screens */
		height: 450px; /* Set a fixed height for tablet screens */
		padding: 30px;
	}

	body {
		font-size: medium;
	}

	img {
		width: 280px;
		height: 200px;
	}

}
